//
@import './partials-style/global';
@import './partials-style/vars';
@import './partials-style/mixin';



header{
    height: 100px;
    background-color: white;
    display: flex;

    .logo img{
      width: 70px;
    }
  }

  .container{
    @include dFlexAlign();
    justify-content: space-between;
  }

  .sd-nav{
    height: 100%;
    ul{
      height: 100%;
      display: flex;
      list-style: none;
      li{
        &:hover, &.active{
          border-bottom: 3px solid $brandColor;
          a{
            color: $brandColor;
          }
        }
        height: 100%;
        border-bottom: 3px solid white;
        @include dFlexAlign;
        a{
          text-decoration: none;
          color: #494c4f;
          margin: 0 15px;
          font-size: 0.9rem;
          @include textImportant;
        }
      }
    }
  }

  //MAIN

  main{
    color: white;
    .jumbotron {
      height: 420px;
      background-image: url(../img/jumbotron.jpg);
      background-size: cover;
      background-position: inherit;
    }

    .current-series {
    min-height: 100px;
    background-color: #1c1c1c;
    text-align: center;

    .container {
      display: flex;
      justify-content: center;
      position: relative;
      flex-wrap: wrap;
      padding: 50px 0 40px 0;

      .flag {
      position: absolute;
      top: -26px;
      left: 0;
      padding: 10px 25px;
      color: white;
      font-size: 1.9rem;
      @include textImportant;
      background-color: $brandColor;
      }
    }

    .btn-cta {
      display: inline-block;
      padding: 10px 75px;
      margin-bottom: 20px;
      text-transform: uppercase;
      background-color: $brandColor;
    }

  }
  }

  //CARD

  .card{
    margin: 20px 15px;
    width: 190px;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    .img-box{
      height: 190px;
      overflow: hidden;
      margin-bottom: 15px;
      img{
        width: 100%;
      }
    }
  }

  //FOOTER

  footer{
    .top{
      height: 350px;
      overflow: hidden;
      background-image: url(../img/footer-bg.jpg);
      @include backGround();
    }
    .bottom{
      height: 90px;
      background-color: #303030;
    }
  }
  //FOOTER TOP
  .top .container{
    height: 100%;
    @include dFlexBetween();
    img{
      width: 500px;
    }
  }

  .list-container{
    color: white;
    font-size: 1rem;
    display: flex;
    align-self: flex-start;
    margin-top: 30px;
    .list{
      margin-right: 30px;
      p{
        margin: 10px 0;
        font-size: 1.1rem;
        @include textImportant;
      }
      ul li{
        list-style: none;
        a{
          text-decoration: none;
          font-size: $mainfontSize;
          color: rgb(117, 111, 111);
          margin: 10px 0;
        }
      }
    }
  }


  // FOOTER BOTTOM

  .bottom .container{
    height: 100%;
    @include dFlexBetween;
    .button{
      display: inline-block;
      border: 2px solid $brandColor;
      color: white;
      font-size: 0.9rem;
      @include textImportant;
      padding: 10px 15px;
    }
    .cta-social{
      @include dFlexAlign;
      p{
        font-size: 1.1rem;
        margin-right: 10px;
        color: $brandColor;
        @include textImportant;
      }
      a{
        margin-left: 15px;
        img{
          width: 90%;
        }
      }
    }
  }



